<main class="pl-80 pt-8 text-white">
    <h1 class="font-bold text-4xl">Anúncios para {{game.name}}</h1>
    <div class="bg-gray-500 flex flex-col w-max rounded px-5 py-3">
        <span>Adolfo Roberto</span>
        <span>Xbox 360</span>
        <span>12/05/2024 - 10:30 às 16:00</span>
        <span>Whatsapp: (11) 9999999999</span>
        <span>Farmar muitos diamantes para conquistarmos o mundo!</span>
    </div>
</main>