<!DOCTYPE html>
<html lang="PT-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/styles/output.css">
    </head>
    <body class="bg-[#1B1B1B] ">
        <header class="pl-40 bg-[#141414]">
            <a href="/">
                <img class="w-64" src="../../../assets/logo.svg" alt="aaaaa">
            </a>
        </header>
        {{{body}}}
    </body>
</html>